/* Center everything on all pages */
body {
  text-align: center;
}

#root > * {
  margin: 0 auto;
  text-align: center;
}

button {
  padding: 12px 24px;
  font-size: 16px;
}

textarea {
  padding: 12px;
  font-size: 16px;
}

input[type="file"] {
  font-size: 16px;
}

